div.wrapper
  > div.menu
  > div.m-right
  > div.r-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu10{
    width: 1274px;
    height: 290px;
    background-color: white;
    border-top: 1px solid black;
    border-radius: 0 0 20px 20px;
    text-align: center;
    z-index: 20;
    position: absolute;
    left: 20px;
    transform: rotatex(90deg);
    transform-origin: top;
    transition: 300ms;
    opacity: 1;
  }

  div.wrapper
  > div.menu
  > div.m-right
  > div.r-menu
  > nav
  > ul
  > li:nth-of-type(2):hover
  > div.submenu10 {
  display: block;
  opacity: 1;
  transform: rotatex(0deg);
}

div.wrapper
  > div.menu
  > div.m-right
  > div.r-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu10
  > div {
  display: inline-block;
  vertical-align: top;
  width: 208px;
  height: 345px;
  text-align: left;
}

div.wrapper
  > div.menu
  > div.m-right
  > div.r-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu10
  > div {
  line-height: 45px;
  transform: translatey(-15px);
  opacity: 0;
  transition: 600ms;
  transition-delay: 100ms;
}

div.wrapper
  > div.menu
  > div.m-right
  > div.r-menu
  > nav
  > ul
  > li:nth-of-type(2):hover
  > div.submenu10
  > div {
  line-height: 45px;
  transform: translatey(0px);
  opacity: 1;
}

div.wrapper
  > div.menu
  > div.m-right
  > div.r-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu10
  > div
  > b {
  font-size: 14.5px;
  margin-left: 20px;
}

div.wrapper
  > div.menu
  > div.m-right
  > div.r-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu10
  > div
  > ul {
  width: 100%;
  height: fit-content;
  line-height: 31px;
  margin-left: 20px;
  }

div.wrapper
  > div.menu
  > div.m-right
  > div.r-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu10
  > div
  > ul
  > li {
  width: 100%;
  height: auto;
  cursor: pointer;
}

div.wrapper
  > div.menu
  > div.m-right
  > div.r-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu10
  > div
  > ul
  > li
  > a {
  color: rgb(92, 92, 92);
  font-size: 11.4px;
}

div.wrapper
  > div.menu
  > div.m-right
  > div.r-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu10
  > div
  > ul
  > li:hover
  > a {
  font-weight: bold;
  font-size: 11.4px;
  }