div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > div.back-submenu2 {
  width: 100%;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9;
  position: absolute;
  left: 0;
  display: none;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2 {
  width: 637px;
  height: 527px;
  background-color: white;
  border-top: 1px solid black;
  border-radius: 0 0 20px 20px;
  text-align: center;
  z-index: 20;
  position: absolute;
  left: 230px;
  transform: rotatex(90deg);
  transform-origin: top;
  transition: 300ms;
  opacity: 0;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2):hover
  > div.submenu2 {
  display: block;
  opacity: 1;
  transform: rotatex(0deg);
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div {
  transform: translatey(-15px);
  opacity: 1;
  transition: 600ms;
  transition-delay: 100ms;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2):hover
  > div.submenu2
  > div {
  transform: translatey(0px);
  opacity: 1;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:hover
  ~ div.back-submenu2 {
  display: block;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(1) {
  display: inline-block;
  vertical-align: top;
  width: 212px;
  height: 460px;
  margin-top: 20px;
  text-align: left;
  border-right: 1px solid #dddddd;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(1)
  > ul {
  width: 100%;
  height: fit-content;
  line-height: 35px;
  margin-left: 20px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(1)
  > ul
  > li {
  width: 100%;
  height: auto;
  cursor: pointer;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(1)
  > ul
  > li
  > a {
  color: rgb(92, 92, 92);
  font-size: 13px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(1)
  > ul
  > li:hover
  > a {
  font-weight: bold;
  font-size: 12.9px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2) {
  display: inline-block;
  vertical-align: top;
  width: 420px;
  height: 100%;
  text-align: left;
  line-height: 40px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > b {
  display: block;
  font-size: 14px;
  margin-left: 15px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div {
  width: 100%;
  height: 460px;
  margin: 0;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div {
  width: 100%;
  height: 147px;
  text-align: center;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div.sm2-up
  > div {
  width: 120px;
  height: 140px;
  background-color: #f8f8f8;
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
  margin: 0px 5px;
  cursor: pointer;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div
  > div
  > div {
  width: 86px;
  height: 69px;
  margin: -15px auto 0 auto;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div
  > div
  > div
  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 250ms linear;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div
  > div:hover
  > div
  > img {
  transform: scale(1.08, 1.08);
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div.sm2-up
  > div
  > p:nth-of-type(1) {
  display: inline-block;
  vertical-align: top;
  height: fit-content;
  color: white;
  background-color: #2189ff;
  font-size: 8.5px;
  font-weight: bold;
  line-height: 10px;
  text-shadow: 0 0 10px rgb(116, 116, 116);
  padding: 3px 5px;
  border-radius: 20px;
  margin-right: 65px;
  margin-top: 8px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div
  > div
  > p:nth-of-type(2) {
  font-size: 11px;
  color: rgb(41, 41, 41);
  line-height: 15px;
  margin-top: 10px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div.sm2-up
  > div:nth-child(3)
  > p:nth-of-type(2) {
  margin-top: 5px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div.sm2-mid
  > div {
  width: 120px;
  height: 140px;
  background-color: #f8f8f8;
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
  margin: 7px 5px;
  cursor: pointer;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div.sm2-mid
  > div:nth-of-type(1)
  > p:nth-of-type(1) {
  display: inline-block;
  vertical-align: top;
  height: fit-content;
  color: white;
  background-color: #2189ff;
  font-size: 8.5px;
  font-weight: bold;
  line-height: 10px;
  text-shadow: 0 0 10px rgb(116, 116, 116);
  padding: 3px 5px;
  border-radius: 20px;
  margin-right: 65px;
  margin-top: 8px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div.sm2-mid
  > div:nth-of-type(1)
  > p:nth-of-type(2) {
  margin-top: 5px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div.sm2-mid
  > div:nth-of-type(2)
  > div
  > img {
  margin-top: 40px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div.sm2-mid
  > div:nth-of-type(3)
  > div
  > img {
  margin-top: 40px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div.sm2-mid
  > div
  > p:nth-of-type(1) {
  font-size: 11px;
  color: rgb(41, 41, 41);
  line-height: 15px;
  margin-top: 50px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div.sm2-down
  > div {
  width: 120px;
  height: 140px;
  background-color: #f8f8f8;
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
  margin: 0px 5px;
  margin-top: 12px;
  cursor: pointer;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div.sm2-down
  > div
  > div
  > img {
  margin-top: 40px;
}

div.wrapper
  > div.menu
  > div.m-left
  > div.l-menu
  > nav
  > ul
  > li:nth-of-type(2)
  > div.submenu2
  > div:nth-of-type(2)
  > div
  > div.sm2-down
  > div
  > p:nth-of-type(1) {
  font-size: 11px;
  color: rgb(41, 41, 41);
  line-height: 15px;
  margin-top: 50px;
}
